U.C.C. § 5-104
Uniform Commercial Code (U.C.C.)  >  ARTICLE 5. LETTERS OF CREDIT
§ 5-104. FORMAL REQUIREMENTS
 A letter of credit, confirmation, advice, transfer, amendment, or cancellation may be issued in any form that is a 
record and is authenticated (i) by a signature or (ii) in accordance with the agreement of the parties or the standard 
practice referred to in Section 5-108(e).
UNIFORM COMMERCIAL CODE
Copyright 2025, by The American Law Institute and National Conference of Commissioners on Uniform State Laws
End of Document